<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="BotwoonIrcBot.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="Botwoon" connectionString="Data Source=D:\Dropbox\Botwoon\Botwoon.sdf;Persist Security Info=True;" />
  </connectionStrings>
  <appSettings>
    <add key="server" value="irc.twitch.tv" />
    <add key="port" value="6667"/>
    <add key="handleCommands" value="true"/>
    <!--<add key="channels" value="#botwoon,#dessyreqt"/>-->
    <add key="channels" value="#botwoon"/>
    <add key="nick" value="botwoon"/>
    <add key="nickPass" value="oauth:w25hgoqhfjr2qx69m2nwvq5xlp86iv"/>
    <add key="ShowCommands" value="false" />
    <add key="ShowTopicSet" value="false" />
    <add key="ShowTopicOwner" value="false" />
    <add key="ShowNamesList" value="false" />
    <add key="ShowServerMessage" value="false" />
    <add key="ShowJoin" value="false" />
    <add key="ShowPart" value="false" />
    <add key="ShowMode" value="false" />
    <add key="ShowNickChange" value="false" />
    <add key="ShowKick" value="false" />
    <add key="ShowQuit" value="false" />
    <add key="PastebinApiKey" value="c7469237d717b25545ea85f246262092"/>
  </appSettings>
  <userSettings>
    <BotwoonIrcBot.Settings>
      <setting name="chatDisplay" serializeAs="String">
        <value>4</value>
      </setting>
    </BotwoonIrcBot.Settings>
  </userSettings>
</configuration>